<% provide :title, "Home" %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-2 info text-center">
      <section class="user_info">
        <p><%= link_to gravatar_for(current_user), @current_user %></p>
        <p><%= link_to current_user.name, current_user, class: "user_name" %></p>
      </section>
      <section class="learned">
        <p>Learned: <%= @learneds.count %> words</p>
      </section>
      <section class='stats'>
        <%= render 'shared/stats' %>
      </section>
      <% if current_user.admin? %>
        <section class='admin-area text-left'>
          <h3 class='text-center'>Adminstrator</h3>
          <dl>
            <dt>Users</dt>
            <dd><%= link_to 'Setting', users_path %></dd>

            <dt>Category</dt>
            <dd><%= link_to 'Add category', new_category_path %></dd>
            <dd><%= link_to 'List all and delete', categories_path %></dd>

            <dt>Word</dt>
            <dd><%= link_to 'Add word', new_word_path %></dd>
            <dd><%= link_to 'Setting words and answers', words_path %></dd>
          </dl>          
        </section>
      <% end %>
    </aside>
    <div class="col-md-10 primary">
      <section class='word-lession text-center'>
        <%= link_to "Words", word_lists_path, class: "btn btn-lg btn-primary word-bt" %>
        <%= link_to "Lessions", categories_path, class: "btn btn-lg btn-info lession-bt" %>
      </section>
      <h2 class="line">Activities</h2>    
      <section class="activities">
        <div class='row'>
          <div class='col-md-8 col-md-offset-2'>
            <ul class='list-unstyled'>
              <%= render 'shared/activities' %>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the E-Learning System</h1>

  <h2>
    Please create a account to use the features of 
    <a href="#">E-Learning System</a>    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
</div>
<% end %>