<% provide :title, 'Categories' %>
<li class='category'>
  <h3><%= category.name %> <span>You've learned <%= current_user.learneds
    .filter_by_category(category).count %>/<%= category.words.count %></span></h3>
  <p>
    <% category.words.limit(60).each do |word| %>
      <%= word.content %>
    <% end %>
  </p>
  <p>
    <%= link_to 'Next', category_path(category), class: 'btn btn-primary btn-lg' %>
    <% if current_user.admin? %>
      <span><%= link_to 'Delete', category, method: :delete, class: 'btn btn-danger 
        btn-lg', data: {confirm: 'Are you sure?'} %></span>
    <% end %>
  </p>
</li>