<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "E-Learning system", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>  
        <li><%= link_to "About",  about_path %></li> 
      </ul>          
      <ul class="nav navbar-nav navbar-right">                        
        <li><%= link_to "Signup ", signup_path, class: 'glyphicon glyphicon-user'%></li>                 
        <li><%= link_to "Login ", '#', class: 'glyphicon glyphicon-log-in'%></li>                    
      </ul>
    </nav>
  </div>
 </header>